*,*::before,*::after {
  padding: 0;
  margin: 0;
}

.Board {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "top top top"
    "mid mid mid"
    "dow dow dow"
}

.cell {  
  height: 200px;
  background-color: black;
  border: 1px solid white;
}