*,*::before,*::after {
  padding: 0;
  margin: 0;
}

.player-details {
  margin: 1rem auto;
  width: 60vw;  
  border: 1px solid;
  display: flex;
  border-radius: 14px;
  box-shadow: 10px 6px 14px -4px rgba(0,0,0,0.75);
}

.ongoing {
  justify-content: space-between;
}

.player-details > input {
  margin: 0 .5rem;
}

.board {
  width: 600px;
  height: 600px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "top top top"
    "mid mid mid"
    "dow dow dow"
}



.cell {  
  height: 200px;
  background-color: black;
  border: 1px solid white;
  color: white;
  display: grid;
  place-content: center;
  font-size: 2rem;
  transition: all .6s;
  border-radius: 16px;
}

.color-red {
  background-color: red;
  box-shadow: inset 0px 0px 16px 9px #543864;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: #0f1161;
  box-shadow: inset 0px 0px 14px 9px #ac72ce;
}

.player {
  display: flex;
  justify-content: center;
}

.player-0,
.player-1 {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 14px;
  transition: all .1s;  
  font-weight: bold;
  font-size: 20px;
}

.player-0 {
  background-color: orangered;
}

.player-1 {
  background-color: aqua;
}

.scale{
  transform: scale(1.1);
  display: flex;
  box-shadow: 10px 6px 14px -4px rgba(0,0,0,0.75);
  
}

.events {  
  display: flex;
  justify-content: center;
  width: 100%;
}

.status {
  padding: 1rem;
  border-radius: 14px;
  width: 60%;
  background-color: #543864;
  box-shadow: 10px 6px 14px -4px rgba(0,0,0,0.75); 
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.hide {
  display: none;
}